*{
    margin: 0;
    padding: 0;
}

header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 65
    px;

    padding: 0px 30px 0px 30px;
}

h1{
color: white;
}


nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
nav {
    display: flex;
    gap: 30px;
    align-items: center;
    
}

 a:hover {
             color: red;
    }


    /* url()->tells css to load an image
     ../-> go on folder back.
     image/->enter the image folder.
     banner.jpg -> use this image. */

     .hero{
        height: 90vh;
        background:url("../images/banner.jpg") no-repeat center/cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
     }

     .hero button{
        margin-top: 15px;
        padding: 10px 20px;
        background: red;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
     }

     .hero button:hover{
        background: darkred;
       
     }

     /* video part */
     .video-section{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        gap: 40px;

        
     }


     /* take an equal share of the available space */
     .video-text{
        flex: 1;
     }

     .video-box {
        flex: 1;
     }

     .video-box video{
        width: 100%;
        border-radius: 10px;
     }

     .video-text h2{
        font-size: 32px;
        margin-bottom: 15px;
     }

     .video-text p{
        font-size: 18px;
        color: #444;
     }

     /* about section */

     .about{
        text-align: center;
        padding: 60px 20px;
        background: white;
     }

     .about h2{
        font-size: 32px;
        margin-bottom: 20px;
        color: rgba(255, 0, 0, 0.615);
     }
     .about p{
        max-width: 700px;
        margin: auto;
        font-size: 18px;
        color: #555555;
        line-height: 1.6;
     }

     /* about page design */
     /* Design card */