*{
    margin: 0;
    padding: 0;
}

header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 65
    px;

    padding: 0px 30px 0px 30px;
}

h1{
color: white;
}


nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
nav {
    display: flex;
    gap: 30px;
    align-items: center;
    
}

 a:hover {
             color: red;
    }


    /* url()->tells css to load an image
     ../-> go on folder back.
     image/->enter the image folder.
     banner.jpg -> use this image. */

     .hero{
        height: 90vh;
        background:url("../images/banner.jpg") no-repeat center/cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
     }

     .hero button{
        margin-top: 15px;
        padding: 10px 20px;
        background: red;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
     }

     .hero button:hover{
        background: darkred;
       
     }